.timer-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.timer-values {
  display: flex;
}

.timer-value {
  margin-right: 20px;
  text-align: center;
}

.timer-value:last-child {
  margin-right: 0;
}

.big-text {
  font-size: 36px;
}

.timer-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timer-button:hover {
  background-color: #45a049;
}
